html, body {
    margin:0;
    padding:0;
    background-color: #000;
    min-width: 1400px;
    max-width: 1920px;;
  }
  
  .comic {
    display:flex;
    flex-wrap:wrap;
    /* font-family:'Comic Sans MS', cursive !important; */
    font-family: 'Comic Neue', cursive;
    padding-left: 4vmin;
    padding-top: 2vmin;
    padding-bottom: 2vmin;
    align-items: center;
    justify-content: center;
  }
  
  .panel {
    background-color:#fff;
    border:solid 2px #000;
    box-shadow:0 6px 6px -6px #000;
    display:inline-block;
    flex:1 1;
    height:700px;
    margin-right: 4vmin;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
    overflow:hidden;
    position:relative;
  }
  
  .text {
    background-color:#fff;
    border:solid 2px #000;
    margin:0;
    padding:3px 10px;
    word-wrap: break-word;
    text-align: center;
  }
  
  .top-left {
    left:15px;
    position:absolute;
    top:10px;
    max-width: 20%;
    transform:skew(-4deg);
  }
  
  .bottom-right {
    bottom:15px;
    position:absolute;
    right:10px;
    max-width: 15%;
    word-wrap: break-word;
    text-align: center;
    transform:skew(-4deg);
  }
  
  .speech {
    background-color:#fff;
    border:solid 2px #000;
    border-radius:12px;
    display:inline-block;
    margin:.5em;
    padding:.5em 1em;
    position:relative;
    word-wrap: break-word;
    text-align: center;
  }
  
  .speech:before {
    border:solid 12px transparent;
    border-left:solid 12px #000;
    border-top:solid 12px #000;
    bottom:-24px;
    content:"";
    height:0;
    left:24px;
    position:absolute;
    transform:skew(-15deg);
    width:0;
  }

  .speech:after {
    border:solid 10px transparent;
    border-left:solid 10px #fff;
    border-top:solid 10px #fff;
    bottom:-19px;
    content:"";
    height:0;
    left:27px;
    position:absolute;
    transform:skew(-15deg);
    width:0;
  }

  .speechRight {
    background-color:#fff;
    border:solid 2px #000;
    border-radius:12px;
    display:inline-block;
    margin:.5em;
    padding:.5em 1em;
    position:relative;
    word-wrap: break-word;
    text-align: center;
  }
  
  .speechRight:before {
    border:solid 12px transparent;
    border-left:solid 12px #000;
    border-top:solid 12px #000;
    bottom:-24px;
    content:"";
    height:0;
    right:23px;
    position:absolute;
    transform:skew(55deg);
    width:0;
  }

  .speechRight:after {
    border:solid 10px transparent;
    border-left:solid 10px #fff;
    border-top:solid 10px #fff;
    bottom:-19px;
    content:"";
    height:0;
    right:28px;
    position:absolute;
    transform:skew(55deg);
    width:0;
  }

  .panel:nth-child(1) {
    flex-basis: 100%;
    background-color: rgb(129, 183, 255);
  }  
  .panel:nth-child(2) {
    flex-basis: 60%;
    background-color: rgb(129, 183, 255);
  }
  .panel:nth-child(3) {
    flex-basis: 30%;
  }
  .panel:nth-child(4) {
    flex-basis: 100%;
    background-color: rgb(129, 183, 255);
  }
  .panel:nth-child(5) {
    flex-basis: 50%;
  }
  .panel:nth-child(6) {
    flex-basis: 30%;
    background-color: rgb(129, 183, 255);
  }

  #albaLink{
    color: #48a3ff;
  }

  #albaLink:hover{
    color: #004d9b;
  }

  /* LOGO PANEL */

  #logoPanel{
    /* min-width: 600px;
    max-width: 600px; */
    width: 100%;
    height: 130px;
    background-color: black;
  }
  
  #logoPanel img{
    position:absolute;
    height: 130px;
    width: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  /* LOGO PANEL END */

 /* FIRST PANEL */
#firstPanel{
  background-image: url(./comic/firstRoom.png);
  background-size: cover;
}

#cinderellaFirstPanel{
  position:absolute;
  width: 100%;
  height: 100%;
}

#cinderellaFirstPanel img{    
  position:absolute;
  height: 75%;
  width: auto;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 0%);
}

#cinderellaFirstPanel p{
  position:absolute;
  max-width: 200px;
  left: 61%;
  top: 18%;
  transform: translate(-50%, 0%);
}
/* FIRST PANEL END */

/* SECOND PANEL */
#secondPanel{
  background-image: url(./comic/phoneBg.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 600px;
  max-width: 600px;
}

#handSecondPanel img{
  position:absolute;
  height: 87%;
  width: auto;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 0%);
}

#textMessage{
  position:absolute;
  left: 72%;
  top: 3%;
  transform: translate(-50%, 0%);
  min-width: 200px;
  max-width: 200px;
  display: none;
}

.phoneScreen{
  position:absolute;
  left: 270px;
  height: 406px;
  width: 218px;
  top: 169px;
  transform: translate(-50%, 0%);
  background-color: #ffffff;
}

#phoneScreen2{
  display: none;
}

#contacts {
  border-collapse: collapse;
  width: 100%;
}

#contacts td, #contacts th {
  padding: 8px;
}

#contacts tr:nth-child(even){background-color: #eeeeee;}

#contacts th {
  /* border: 1px solid rgb(0, 0, 0); */
  color: white;
  width: 100%;
  text-align: center;
  background-color: rgb(31, 31, 31);
  font-size: 18px;
}

#contacts td i{
  padding-left: 5px;
  padding-right: 5px;
  top: 50%;
  display: inline-block;
}

#contacts td div{
  float: right;
}

#call{
	text-shadow: 0px 0px 10px rgba(247, 252, 0, 1),
               0px 0px 12px rgba(247, 252, 0, 1);
}

#call:hover{
  cursor: pointer;
  text-shadow: 0px 0px 10px rgba(136, 146, 0, 1),
                0px 0px 12px rgba(136, 146, 0, 1);
}

#callInfoTop{
  height: 30%;
  background-color: #f7f7f7;
}

#callInfoBottom{
  height: 70%;
  display: flex;
  flex-flow: row wrap;
  background-color: #bebebe;
}

#callDur{
  margin:0;
  padding-left: 5px;
  padding-top: 5px;
  text-align: left;
}

#godMom{
  text-align: center;
  margin: 0;
  padding-top: 5;
}

#mobileNum{
  text-align: center;
  margin: 0;
  padding-top: 3px;
}

#inCall{
  text-align: center;
  margin: 0;
  padding-top: 20px;
  bottom: 20px;
}

.fa-phone-slash{
  color: red;
}

#callInfoBottom div h5{
  margin: 0;
  padding: 0;
}

#callInfoBottom div {
  margin: 0;
  padding-top: 25px;
  flex: 1 1 33%;
  min-height: 50px;
  max-height: 50px;
  text-align: center;
  font-size: 14px;
}

/* SECOND PANEL END*/

/* THIRD PANEL */

#moveCinderella{
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  outline: none;
  position: absolute;
}

#moveCinderella img{
  height: 37%;
  width: auto;
  position: absolute;
  bottom: 52px;
  /* transform: translate(-100%, 0%); */
}

.animated { display: none;}
.show { display: block;}

.slider{
  -webkit-appearance: none;
  width: 70%;
  height: 25px;
  outline: none;
  bottom: 7px;
  position: absolute;
  left: 50%;
  border-radius: 15px;
  transform: translate(-50%, 0%);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background: #80d0ff;
  cursor: pointer;
  border-radius: 25px;
}

.slider:hover::-webkit-slider-thumb {
  background: #4eb7fd;
}

.arrowLeft1{
  position: absolute;
  left: 6%;
  bottom: -3px;
}

.arrowRight1{
  position: absolute;
  left: 11%;
  bottom: -3px;
}

.arrowLeft2{
  position: absolute;
  right: 11%;
  bottom: -3px;
}

.arrowRight2{
  position: absolute;
  right: 6%;
  bottom: -3px;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 26px solid transparent;
  border-bottom: 26px solid transparent;  
  border-left: 26px solid #80d0ff;
}

.arrow-right:hover{
  border-left: 26px solid #4eb7fd;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 26px solid transparent;
  border-bottom: 26px solid transparent;   
  border-right:26px solid #80d0ff; 
}

.arrow-left:hover{
  border-right: 26px solid #4eb7fd;
}

#ground img{
  position:absolute;
  width: 100%;
  left: 50%;
  height: 60px;
  bottom: 0px;
  transform: translate(-50%, 0%);
}

#behindCinderella img{
  position:absolute;
  height: 550px;
  width: auto;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 0%);
}

#frontOfCinderella img{
  position:absolute;
  height: 550px;
  width: auto;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 0%);
}

#fittingRoom img{
  position:absolute;
  height: 340px;
  width: auto;
  left: 50%;
  bottom: 60px;
  transform: translate(-50%, 0%);
}

#thirdPanel{
  background-image: url(./comic/background.png);
  background-size: cover;
}

#secondFade{
  left: 20%;
  top: 17%;
}

#thirdFade{
  left: 40%;
}

#fourthFade{
  left: 60%;
  top: 19%;
}

#fifthFade{
  left: 77%;
}

#storeLogoDiv{
  height: 100%;
  width: 100%;
}

#storeText{
  position:absolute;
  left: 50%;
  top: 242px;
  height: 46px;
  width: auto;
  transform: translate(-50%, 0%);
}

 #slideMe{
  position:absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 10px;
  margin: 0;
  padding: 0;
 }

/* THIRD PANEL END */

/* FOURTH PANEL */

#fourthPanel{
  background-image: url(./comic/auditionRoom.png);
}

#interviewer{
  left: 100px;
  top: 200px;
  max-width: 150px;
}

#cinderellaAudition{
  position:absolute;
  right: 5%;
  bottom: 30px;
  height: 460px;
}

#cinderellaAudText{
  position:absolute;
  right: 20%;
  top: 25%;
}

/* FOURTH PANEL END*/

/* FIFTH PANEL */

#fifthPanel{
  background: url(./comic/firstRoom.png);
  background-size: cover;
}

#cinderellaFifthPanel{
  position:absolute;
  width: 100%;
  height: 100%;
}

#cinderellaFifthPanel img{
  position:absolute;
  height: 75%;
  width: auto;
  left: 45%;
  bottom: 0px;
  transform: translate(-50%, 0%);
}

#lastSpeech{
  position:absolute;
  max-width: 200px;
  left: 70%;
  top: 17%;
  transform: translate(-50%, 0%);
}

/* FIFTH PANEL END*/